.fontstack {
  font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
  color: #222222;
}
.blog a {
  text-decoration: none;
  color: #222222;
}
.blog p {
  margin-bottom: 15px;
}
.blog .row {
  position: relative;
  min-height: 500px;
}
.blog .sidebar {
  position: absolute;
  right: 0;
  top: 5px;
}
.blog .sidebar input {
  background: rgba(255, 255, 255, 0.15);
  border: none;
  height: 15px;
  padding: 5px;
  width: 95%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0px 1px 0px rgba(1, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.51), inset 0 0px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 1px 0px rgba(1, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.51), inset 0 0px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 1px 0px rgba(1, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.51), inset 0 0px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.blog .sidebar input:hover {
  background: rgba(255, 255, 255, 0.45);
}
.blog .sidebar input:active, .blog .sidebar input:focus {
  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: inset 0px 1px 0px rgba(1, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.51), inset 0 0px 2px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: inset 0px 1px 0px rgba(1, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.51), inset 0 0px 2px rgba(0, 0, 0, 0.445);
  box-shadow: inset 0px 1px 0px rgba(1, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.51), inset 0 0px 2px rgba(0, 0, 0, 0.45);
}
.blog h2#title {
  margin-top: 5px;
  position: relative;
  min-height: 41px;
  max-width: 760px;
  margin-bottom: 0;
}
.blog h2#title::after {
  background: url('../img/nwCleanSprite.png') no-repeat;
  width: 41px;
  height: 41px;
  display: block;
  position: absolute;
  right: -83px;
  top: -5px;
}
/*The different post types styling
*/
/*1. Post type*/
.blog h2#title.post::after {
  content: '';
  background-position: -7px -95px;
}
/*2. Link type*/

.blog h2#title.link::after {
  content: '';
  background-position: -55px -95px;
}
.blog h3 {
  font-family: 'ColaborateLightRegular';
  font-size: 18px;
  color: #112025;
  line-height: 18px;
  font-weight: 300;
  margin-top: 20px;
}
.blog h3:after {
  content: "";
  background: url(../img/separator.png) repeat-x;
  height: 2px;
  width: 100%;
  display: block;
  margin: 10px 0;
}
h4 {
  font-family: 'ColaborateRegular';
  color: #112025;
  font-size: 16px;
  font-weight:normal;
}
.check_list,
.arrow_list,
.blog .ul-list {
  list-style: none;
}
.check_list li,
.arrow_list li,
.blog .ul-list li {
  padding-left: 20px;
  position: relative;
  margin: 5px 0;
}
a.btn {
margin: 5px 0px;
color : #FFF;
}
.check_list li:after,
.arrow_list li:after,
.blog .ul-list li:after {
  content: '';
  background: url('../img/nwCleanSprite.png') no-repeat -288px -9px;
  width: 7px;
  height: 11px;
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  -webkit-transition: all;
  -moz-transition: all;
  -ms-transition: all;
  -o-transition: all;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
.check_list li:after {
  background-position:-264px -10px;
  width: 15px; height: 11px;
}
.blog .ul-list li:hover:after {
  -webkit-transform: translate(6px, 0);
  -moz-transform: translate(6px, 0);
  -ms-transform: translate(6px, 0);
  -o-transform: translate(6px, 0);
}
.blog .ul-list ul {
  list-style: none;
  padding-left: -5px;
}
div.p-seperator {
  background: url(../img/separator.png) repeat-x;
  height: 2px;
  width: 100%;
  display: block;
  margin: 10px 0;
}
.entrycontent {
  position: relative;
  margin-bottom: 35px;
}
.entrycontent .seperator {
  background: url(../img/separator.png) repeat-x;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -25px;
}
.entrycontent .blog-post-cover-img {
  margin-bottom: 25px;
  width: 68%;
  padding: 5px;
  background: #112025;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
}
.entrycontent .eightcol {
  border-right: 1px solid #112025;
  padding-right: 3.8%;
}
.entrycontent .threecol {}

body.single .entrycontent .eightcol {
  border-right: none;
  padding-right: 0;
} 
body.single .entrycontent .threecol {
  border-left:1px solid #112025;
  padding-left:2.4%;
  height: 90px;
}
body.single .entrycontent .blog-post-cover-img {
  width: 100%;
}
body.single .entrycontent {
  margin-bottom: 0;
}

.entrycontent .eightcol, .entrycontent .threecol {
 /* margin-top: 20px;*/
}
.entrycontent .threecol ul {
  list-style: none;
  color: #354246;
  font-size: 10px;
}
.entrycontent .threecol ul p {
  margin: 0;
}
.entrycontent .threecol ul p span {
  font-weight: bold;
  letter-spacing: .5px;
}
.entrycontent .threecol ul p a {
  color: #354246;
}
.entrycontent span.read-more {
  display: none;
}

/*Pagination */
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ol {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li {
  display: inline;
}


/*previous / next button*/


.meta_info {
  height: 100px;
}
.meta_info ul {
  margin-bottom: 20px;
}

/*Comments section*/
/*IntenseDebate Comments*/

/*Changing the font & font-size*/
#idc-container-parent #idc-container,
#idc-container-parent #idc-container div {
  font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
  font-size: 12px;
}

#idc-container a {
  text-decoration:none;
  color: #222;
  border-bottom: 1px dotted rgba(17, 32, 37, 0.5);
  font-size: 12px;
  color: #222;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(17, 32, 37, 0.19999999999999996);
}
#idc-container a:hover {
  border-bottom: 1px solid #112025;
  font-style: italic;
}

#idc-container #IDCommentsNewThreadCover h3,
#idc-container #IDCommentsHead h3 {
  color: #112025;
  font-size: 22px;
  font-family: "ColaborateLightRegular", "colaborate-2", CaviarDreamsBold, sans-serif;
  font-weight: 100;
  padding: 5px 0 0 0;
  margin-bottom: 15px;
  text-shadow: none;
  line-height: 25px;
}

/*LiveFyre Comments*/
.comments #livefyre #lf_fyre_head .lf_head_bar label.lf_comment_count {
  color: #112025;
  font-size: 22px;
  font-family: "ColaborateLightRegular", "colaborate-2", CaviarDreamsBold, sans-serif;
  font-weight: 100;
  padding: 5px 0 0 0;
  margin-bottom: 15px;
  text-shadow: none;
  line-height: 25px;
 }
.comments #livefyre .lf_comment .lf_comment_body {
  background:red;
}

/* ----------- Disqus Comments styling --------------- */
#disqus_thread a {
  text-decoration:none;
  color: #222;
}
.dsq-expand,
.dsq-expand:hover,
.dsq-collapse,
.dsq-collapse:hover,
.dsq-avatar a {
  border-bottom:none;
}
#dsq-content h3 {
  color: #112025;
  font-size: 22px;
  font-family: "ColaborateLightRegular", "colaborate-2", CaviarDreamsBold, sans-serif;
  font-weight: 100;
  padding: 5px 0 0 0;
  margin-bottom: 15px;
  text-shadow: none;
  line-height: 25px;
}
a.dsq-brlink {
  display: none;
}
#dsq-subscribe a {
  border:none;
}
.dsq-textarea-background {

}