
.fontstack {
  font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
  color: #222222;
}
/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */
body {
  background: url('../img/bg.jpg') repeat;
  border-top: 4px solid #112025 ;
  font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
  font-size: 12px;
  color: #222;
  line-height: 18px;
  text-shadow: 1px 1px 1px rgba(17, 32, 37, 0.19999999999999996);
}
::selection {
  background: rgba(17, 32, 37, 0.8);
  /* Safari */

  color: #fff;
}
::-moz-selection {
  background: rgba(17, 32, 37, 0.8);
  /* Firefox */

  color: #fff;
}
/* 	-------------------------------
	General Styles
	-------------------------------
*/.box {
  box-shadow: 0 0 5px red;
}
.header {
  height: 100px;
  margin-top: 10px;
  margin-bottom: 40px;
  z-index: 200;
  position: relative;
}
a {
  border-bottom: 1px dotted rgba(17, 32, 37, 0.5);
  text-decoration:none;
  color: #222;
}
a:hover {
  border-bottom: 1px solid #112025;
  font-style: italic;
}
.fixed {
  position: fixed;
}
/* 	-------------------------------
	MIXINS 
	-------------------------------
	
*/
/* 	-------------------------------
	Typography
	-------------------------------
*/@font-face {
  font-family: 'ColaborateLightRegular';
  src: url('../fonts/colablig-webfont.eot');
  src: url('../fonts/colablig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/colablig-webfont.woff') format('woff'), url('../fonts/colablig-webfont.ttf') format('truetype'), url('../fonts/colablig-webfont.svg#ColaborateLightRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ColaborateMediumRegular';
  src: url('../fonts/colabmed-webfont.eot');
  src: url('../fonts/colabmed-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/colabmed-webfont.woff') format('woff'), url('../fonts/colabmed-webfont.ttf') format('truetype'), url('../fonts/colabmed-webfont.svg#ColaborateMediumRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ColaborateRegular';
  src: url('../fonts/colabreg-webfont.eot');
  src: url('../fonts/colabreg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/colabreg-webfont.woff') format('woff'), url('../fonts/colabreg-webfont.ttf') format('truetype'), url('../fonts/colabreg-webfont.svg#ColaborateRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ColaborateThinRegular';
  src: url('../fonts/colabthi-webfont.eot');
  src: url('../fonts/colabthi-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/colabthi-webfont.woff') format('woff'), url('../fonts/colabthi-webfont.ttf') format('truetype'), url('../fonts/colabthi-webfont.svg#ColaborateThinRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
h2 {
  color: #112025;
  font-size: 22px;
  font-family: "ColaborateLightRegular", "colaborate-2", CaviarDreamsBold, sans-serif;
  font-weight: 100;
  padding: 5px 0 0 0;
  margin-bottom: 15px;
  text-shadow: none;
  line-height: 25px;
}
/* 	-------------------------------
	Header Styling
	-------------------------------
*/.header h1 {
  text-indent: -9999px;
  background: url(../img/nw-logo.png) no-repeat;
  width: 187px;
  height: 129px;
  margin-left: -70px;
}
#logobg {
  background: url(../img/bg-logo.png) repeat-x;
  height: 91px;
  width: 20.5%;
  position: absolute;
  top: 33px;
  z-index: -10;
}

/* 	-------------------------------
	menu navigation
	-------------------------------
*/
#menu-main-navigation-menu-1,
#menu-main-navigation-menu {
  list-style: none;
  margin: 40px 0 0 0;
  float: right;
}
#menu-main-navigation-menu-1 li:last-child,
#menu-main-navigation-menun li:last-child {
  padding-right: 0;
}
#menu-main-navigation-menu-1 li,
#menu-main-navigation-menu li {
  padding: 0 10px;
  float: left;
  list-style: none;
}
#menu-main-navigation-menu-1 li a,
#menu-main-navigation-menu li a {
  font-family: 'ColaborateLightRegular', sans-serif;
  font-weight: 300;
  font-size: 17px;
  text-decoration: none;
  color: #1b323b;
  display: block;
  padding: 5px 10px;
  border: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  -ms-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: .9s;
  -moz-transition-duration: .9s;
  -o-transition-duration: .9s;
  -ms-transition-duration: .9s;
  transition-duration: .9s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0);
}

body.single .header .menu-item-24 a,
#menu-main-navigation-menu-1 li a.active,
#menu-main-navigation-menu li a.active {
  background: #112025;
  color: #fff !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
#menu-main-navigation-menu-1 li a:hover,
#menu-main-navigation-menu li a:hover {
  background: #112025;
  color: #fff !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}
#menu-main-navigation-menu-1 li.current-menu-item,
#menu-main-navigation-menu li.current-menu-item {
	background: #112025 ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
}
#menu-main-navigation-menu-1 li.current-menu-item a,
#menu-main-navigation-menu li.current-menu-item a {
	color: #fff!important;
}
#menu-main-navigation-menu-1 li.current-page-ancestor a,
#menu-main-navigation-menu li.current-page-ancestor a {
	background: #112025 ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,.3);
	color: #fff !important;
}
#menu-main-navigation-menu-1 li.current-menu-item a:hover,
#menu-main-navigation-menu li.current-menu-item a:hover {
	color: #e9e9e9!important;
}



/* 	-------------------------------
	markup styling (about page)
	-------------------------------
*/.markup img {
  background: #112025;
  padding: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.24) 0 1px #ff0000;
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.24) 0 1px #ff0000;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.24) 0 1px #ff0000;
  /* border: 1px solid #fff; */

}
p.strong {
  font-weight: bold;
  text-shadow: none;
}
p {
  margin: 10px 0px 10px 0px;
}
.markup ul {
  list-style: none;
}
.markup ul li a {
  font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
  color: #222222;
  text-decoration: none;
  position: relative;
}
.markup ul li a.download:hover:before {
  content: "";
  background: url('../img/nwCleanSprite.png') no-repeat -8px -72px;
  width: 10px;
  height: 9px;
  position: absolute;
  right: -15px;
  top: 3px;
}
.markup .social li {
  margin: 5px 0;
}
.markup .social li a {
  line-height: 24px;
}
.markup .social li a:before {
  content: ' ';
  width: 24px;
  height: 24px;
  float: left;
  display: block;
  margin-right: 8px;
  background: url('../img/nwCleanSprite.png') no-repeat;
}
.markup .social li a.facebook:before {
  background-position: -8px -10px;
}
.markup .social li a.facebook:hover:before {
  background-position: -8px -40px;
}
.markup .social li a.twitter:before {
  background-position: -168px -10px;
}
.markup .social li a.twitter:hover:before {
  background-position: -168px -40px;
}
.markup .social li a.linkedin:before {
  background-position: -208px -10px;
}
.markup .social li a.linkedin:hover:before {
  background-position: -208px -40px;
}
.markup .social li a.dribbble:before {
  background-position: -88px -10px;
}
.markup .social li a.dribbble:hover:before {
  background-position: -88px -40px;
}
/* 	-------------------------------
	Slider
	-------------------------------
*/#slider {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}

#slider .flexslider .slides {
  height: 350px;
  overflow: hidden;
}

/*the next & previous buttons*/
#slider .flex-direction-nav li a {
  /*background: url("../img/bg_direction_nav.png") no-repeat scroll 0 0 transparent;*/
  background: url('../img/nwCleanSprite.png') no-repeat transparent;
  cursor: pointer;
  display: block;
  /*height: 52px;*/
  margin: -13px 0 0;
  position: absolute;
  text-indent: -9999px;
  top: 50%;
  /*width: 52px;*/
  width: 51px; height: 49px;
}
#slider .flex-direction-nav li .prev {
  background-position:-166px -96px;
}
#slider .flex-direction-nav li .prev:hover {
  background-position:-103px -96px;
}
#slider .flex-direction-nav li .prev:active {
  background-position:-228px -96px;
}
#slider .flex-direction-nav li .next {
  
  background-position:-383px -96px;
}
#slider .flex-direction-nav li .next:hover {
  background-position:-316px -96px;
}
#slider .flex-direction-nav li .next:active {
 background-position: -449px -96px;
}
/*the state buttons*/
#slider .flex-control-nav li a {
  background: url('../img/nwCleanSprite.png') no-repeat -258px -40px; 
  width: 16px; 
  height: 15px;
}
#slider .flex-control-nav li a.active {
  background-position:-239px -40px;
}
#slider .flex-control-nav li a:hover {
  background-position:-239px -40px;
}

/*  -------------------------------
  featured section
  -------------------------------
*/
.featured {
  background: url("../img/featured-bg.jpg");
  padding: 30px 0px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.6);
}
/* 	-------------------------------
	Footer
	-------------------------------
*/
.footer {
  margin-top: 50px;
  background: url(../img/footer-bg.jpg) repeat-x;
  height: 294px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  padding: 15px 0;
}
.footer2 a {
	text-decoration: none;
	color: #DEDEDE;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer .widget-title {
	display: none;
}
.widget-container {
	list-style: none;
}
.footer ul {
  list-style: none;
}
.footer ul li {
  padding: 7px 0;
  background: url(../img/footer-seperator.png) repeat-x bottom left;
  width: 100%;
}
.footer ul li a {
  text-decoration: none;
  border: none;
  color: #DEDEDE;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer #tweets ul {
  color: #e3e3e3;
}

.footer ul li a:hover {
  color: #a3bcc5;
}
h5 {
  font-family: 'ColaborateThinRegular';
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 18px;
  margin-top: 5px;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}
h6#error,
h6#preload {
  color: #e3e3e3;
}
.footer2 {
  background: #112025;
  height: 50px;
  line-height: 50px;
  color: #2d4f5b;
}
.footer2 p {
  font-size: 11px;
  margin: 0;
}
.footer2 ul {
  list-style: none;
}
.footer2 ul li {
  float: left;
  padding: 0 15px;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.footer2 .menu-main-navigation-menu-container {
  float: right;
}
.footer2 ul li a {
  text-decoration: none;
  color: #2d4f5b;
  font-size: 11px;
  display: block;
  border: none;
}
body.single .footer2 .menu-item-24,
.footer2 .current_page_item {
  background: rgba(29, 55, 64, 0.15);
}

.footer2 ul li:hover {
  background: rgba(29, 55, 64, 0.15);
}
.twipsy {
  display: block;
  position: absolute;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  z-index: 1000;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.twipsy.fade.in {
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.twipsy.above .twipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}
.twipsy.left .twipsy-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #000000;
}
.twipsy.below .twipsy-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}
.twipsy.right .twipsy-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000000;
}
.twipsy-inner {
  padding: 3px 8px;
  background-color: #000000;
  color: white;
  text-align: center;
  max-width: 200px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.twipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
}
.fade {
  -moz-transition: opacity 0.15s linear 0s;
  opacity: 0;
}
.fade.in {
  opacity: 1;
}
/* 	-------------------------------
	breadcrump
	-------------------------------
*/.breadcrump {
  background: #112025;
  padding: 5px 0;
  margin-bottom: 20px;
  margin-top: 50px;
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.6);
}
.breadcrump p {
  color: #fff;
  margin: 0;
}
.breadcrump a {
  text-decoration: none;
  color: #fff;
}
/* --- Next - Previous Pages links --- */
.sub-nav {
  margin-bottom: 20px;
}
.sub-nav .row.fixed {
  top: 10px;
  left: 20%;
}
.sub-nav.fix {
  background : #FFF;
}
.sub-nav a {
  border: none;
}
.prev a, .next a {
  text-decoration: none;
  color: #222;
  min-height:16px;
  display: block;
}
.sub-nav .next a {
  float: right;
}

.sub-nav .prev a {
  background: url("../img/prev.png") no-repeat left 2px;
  padding-left: 20px;
}
.sub-nav .prev a:hover {
  background: url("../img/prev-hover.png") no-repeat left 2px;
}
.sub-nav .next a {
  background: url("../img/next.png") no-repeat right 2px;
  padding-right: 20px;
}
.sub-nav .next a:hover {
  background: url("../img/next-hover.png") no-repeat right 2px;
}




.sub-nav .back a span {
  background: url("../img/blocks.png") no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  margin: 0px auto;
  margin-top: -7px;
}
.sub-nav .back a span:hover {
  background: url("../img/blocks-hover.png") no-repeat;
}

/* --- Bootstrap --- */
/* --- INIT: Glyph Icons --- */

[class^="icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: text-top;
  background-image: url(../img/glyphicons-halflings.png);
  background-position: 14px 14px;
  background-repeat: no-repeat;
  *margin-right: .3em;
}
[class^="icon-"]:last-child {
  *margin-left: 0;
}
.icon-white {
  background-image: url(../img/glyphicons-halflings-white.png);
}
.icon-share-alt {
  background-position: -336px -96px;
}
.icon-time {
  background-position: -48px -24px;
}
.icon-arrow-left {
  background-position: -240px -96px;
}
.icon-arrow-right {
  background-position: -264px -96px;
}
.icon-user {
  background-position: -168px 0;
}
.icon-list-alt {
  background-position: -264px -24px;
}
.icon-tag {
  background-position: 0 -48px;
}
.icon-tags {
  background-position: -25px -48px;
}
.icon-comment {
  background-position: -240px -120px;
}
.icon-plus-sign {
  background-position: 0 -96px;
}
.icon-minus-sign {
  background-position: -24px -96px;
}
/* --- INIT: buttons --- */
.button,
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow:  0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.button,
.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active, .btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  color: rgba(0, 0, 0, 0.5);
  outline: 0;
}

.btn.disabled, .btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled:hover {
	font-style: normal;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large .icon {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small .icon {
  margin-top: -1px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active {
  color: rgba(255, 255, 255, 0.75);
}
.button,
.btn-primary {
  background-color: #23414c;
  background-image: -moz-linear-gradient(top, #23414C, #112026);
  background-image: -ms-linear-gradient(top, #23414C, #112026);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#23414C), to(#112026));
  background-image: -webkit-linear-gradient(top, #23414C, #112026);
  background-image: -o-linear-gradient(top, #23414C, #112026);
  background-image: linear-gradient(top, #23414C, #112026);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#23414C', endColorstr='#112026', GradientType=0);
  border-color: #112026 #112026 #23414C;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.button:hover,
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #112026;
}
.btn-primary:active, .btn-primary.active {
  background-color: #003399 \9;
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}
.btn-info:active, .btn-info.active {
  background-color: #24748c \9;
}

.blog a .alignright{
  float: right;
  margin-bottom: 25px;
  padding: 5px;
  background: #112025;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
}
nav.mobile {
  visibility: hidden;
  /*background: #21BBE1; */
  position: fixed;
  z-index: 100; 
  width: 100%;
}
nav.mobile ul { margin: 0; }
nav.mobile ul li { width: 50%; float: left; }
nav.mobile a { 
  color: #fff; 
  padding: 15px 1.5em; 
  display: block; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.25); 
  text-decoration: none; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); 
  white-space: nowrap; text-overflow: ellipsis; overflow: hidden; 
}
nav.mobile li:nth-of-type(2n-1) a { border-right: 1px solid rgba(255, 255, 255, 0.25); }


/* ---------------------------------- */
/* Notification panel */
.notification-bar {
  background: #112025;
  position: fixed;
  top:0;
  z-index: 1000;
  width: 100%;
  display: none;
}
.notification-bar {
  height: 20px;
}
.notification-bar  p {
  color: #fff;
  font-size: 10px;
  margin: 0px;
  text-align: left;
  float: left;
  margin-right: 5px;
}
.notification-bar p a {
  color: #e3e3e3;
}
/*Language bar : widget'ized*/
.notification-bar .xililanguagelist {
  list-style: none;
}
.notification-bar .xililanguagelist li {
  float: left;
  padding-right: 10px;
}
.notification-bar .xililanguagelist li a {
  color: #e3e3e3;
  font-size: 10px;
}

span.noty-trigger {
  background: #112025;
  padding: 4px;
  padding-top: 7px;
  position: absolute;
  top: 0;
  right: 30px;
  display: block;
  text-align: center;
  width: 23px;
  height: 17px;
  cursor: pointer;
  z-index: 1001;

  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}


ul.noty_container {
  position: fixed;
  z-index: 9999999;
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 400px;
  top: 20px;
}
ul.noty_container li {
  position: relative;
  float: left;
  clear: both;
  list-style: none;
  padding: 0px;
  margin: 10px 0 0 0;
}
ul.noty_container.topLeft {
  left: 20px;
}
ul.noty_container.topRight {
  right: 40px;
}
ul.noty_container.topRight li {
  float: right;
}
/* Fix for: http://bugs.jquery.com/ticket/2278 */
ul.noty_container.topLeft li, ul.noty_container.topRight li {
  width: 400px;
}
div.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: 0.6;
  display: none;
}
.noty_bar {
  position: fixed;
  display: none;
  z-index: 9999999;
  background: url(../img/alert-lines.png) repeat-x scroll left top #fff;
}
.noty_bar.top {
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 3px solid #eee;
}

.noty_bar.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 3px solid #eee;
}
.noty_bar.center {
  top: 40%;
  left: 19.5%;
  width: 60%;
  padding: 4px;
  border: 3px solid #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.noty_bar.topLeft, .noty_bar.topRight {
  width: 100%;
  clear:both;
  position: relative;
  padding: 4px;
  border: 3px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.noty_bar .noty_message {
  padding: 10px 30px 10px 10px;
  font-size: 16px;
  font-weight: bold;
  width: 96%;
}
.noty_bar .noty_message .noty_buttons {
  float: right;
  font-size: 13px;
  margin-top: -6px;
  margin-left: -25px;
}
.noty_bar.topLeft .noty_message .noty_buttons, .noty_bar.topRight .noty_message .noty_buttons {
  float: none;
  font-size: 13px;
  border-top: 1px solid #CCCCCC;
  margin-left: 0;
  margin-top: 10px;
  float: none;
  padding-top: 10px;
  text-align: right;
}
.noty_bar .noty_message .noty_buttons button {
  margin-left: 5px;
}
.noty_bar .noty_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../img/closelabel.png);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.noty_bar.alert {
  background-color: #fff;
  border-color: #ccc;
}
.noty_bar.error {
  background-color: red;
  color: #fff;
  border-color: darkred;
}
.noty_bar.success {
  background-color: lightgreen;
  color: darkgreen;
  border-color: darkgreen;
}

/* Layout: Top Center */
.noty_bar.topCenter {
  background: none;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
.noty_bar.topCenter.alert {
  background-color: none;
}
.noty_bar.topCenter .noty_message {
  padding: 10px 15px;
  display: inline-block;
  font-size: 13px;
  width: auto;
  margin: 0;
  position: relative;
  top: 8px;
  font-weight: normal;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.noty_bar.topCenter .noty_close {
  top: 50%;
  margin-top: -10px;
  border-radius: 10px;
  right: -10px;
}
.noty_bar.topCenter.alert .noty_message {
  background-color: #F9EDBE;
  border: 1px solid #F0C36D;  
}
.noty_bar.topCenter.alert .noty_close {
  border: 1px solid #F0C36D;
}
.noty_bar.topCenter.error .noty_message {
  background-color: #FA5914;
  border: 1px solid #E64906;  
}
.noty_bar.topCenter.error .noty_close {
  border: 1px solid #E64906;
}
.noty_bar.topCenter.success .noty_message {
  background-color: #8FEC8F;
  border: 1px solid #50C24E;  
}
.noty_bar.topCenter.success .noty_close {
  border: 1px solid #50C24E;
}
.noty_bar.topCenter .noty_message .noty_buttons {
  margin-left: 15px;
  margin-top: 0px
}

.noty_bar.topCenter .noty_message .noty_buttons button {
  font: bold 12px/12px HelveticaNeue, Arial;
  padding: 3px 4px;
  color: #555;
  background: none; 
  border: none;
}

/* Custom Theme from Mohieddine Abd-kader (http://forrst.com/people/mitgux) Thanks :) */
.noty_bar.mitgux {
  background: none;
  border: none;
}
.noty_bar.mitgux .noty_message {
  border: 1px solid #D7D7D7 !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px #636363;
  color: #6D6D6D;
  line-height: 1.5em;
  text-shadow: 0 1px 0 #FFFFFF;
  width: 100%;      
}
.noty_bar.mitgux.center .noty_message {
  width: 95%;
}
.noty_bar.mitgux.alert .noty_message {
  background: url("../img/mitgux/alert.png") no-repeat 13px center,url("../img/mitgux/bg.png") repeat scroll 0 0 transparent;           
}
.noty_bar.mitgux.error .noty_message {
  background: url("../img/mitgux/error.png") no-repeat 13px center,url("../img/mitgux/bg.png") repeat scroll 0 0 transparent; 
}
.noty_bar.mitgux.success .noty_message {
  background: url("../img/mitgux/done.png") no-repeat 13px center,url("../img/mitgux/bg.png") repeat scroll 0 0 transparent;
}
.noty_bar.mitgux .noty_close{
  width: 20px;
  height: 20px;
  position: absolute;
  background: url("../img/mitgux/close.png") no-repeat;
  right: -8px;
  top: 50%;
  margin-top: -10px;
  box-shadow: 0 0 3px #3C3C3C;
  border-radius: 10px;
  border: none !important;
  cursor: pointer
}
/* Custom theme layout extras */
.noty_bar.mitgux.top {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  box-shadow: 0px 0px 4px #636363;
}
.noty_bar.mitgux.top .noty_close, .noty_bar.mitgux.bottom .noty_close {
  right: 8px;
}
.noty_bar.mitgux.topLeft .noty_message, .noty_bar.mitgux.topRight .noty_message, .noty_bar.mitgux.topCenter .noty_message {
  padding-left: 60px;
  padding-right: 40px;
  width: auto;
}
.noty_bar.mitgux.topLeft .noty_message .noty_buttons, .noty_bar.mitgux.topRight .noty_message .noty_buttons {
  border-top: 1px solid #CCCCCC;
  margin-left: 0;
  margin-top: 10px;
  float: none;
  padding-top: 10px;
  text-align: right;
}
.noty_bar.mitgux.top .noty_buttons, .noty_bar.mitgux.bottom .noty_buttons {
  margin-top: -3px;
  margin-right: 25px;
}
.noty_bar.mitgux.center .noty_buttons {
  margin-top: -3px;
}



/* ============================= */
/* ! Layout for large screen version   */
/* ============================= */
@media screen and (max-width: 1600px) {
  
}
/* ============================= */
/* ! Layout for  screen version   */
/* ============================= */
@media screen and (max-width: 1440px) {
  #logobg {
    width: 10%;
  }
}
/*Iphone*/
@media only screen and (min-width: 320px) and (max-width: 480px) {

.featured {
  display:none;
}
#logobg {
  visibility: hidden;
}
nav.main {
  visibility: hidden;
}
nav.mobile {
  visibility: visible;
}
/* Add the "Pull Down for Navigation" bar, all controlled via CSS including the text */
    .header:before { 
      width: 100%; 
      display: block; 
      content: "Pull Down for Navigation"; 
      padding: 0.75em 1.5em; 
      margin: -1em -1.5em 1em; 
      color: #878787; 
      text-shadow: 0 1px 1px rgba(255, 255, 255, 1); 
      border-bottom: 1px solid #a6a6a6; 
      background-origin: content-box; 
      text-indent: 22px;
      background-color: #e3e3e3;
      background-image: url(../img/pull.png), url(../img/down.png);
      background-position: right center, left center;
      background-repeat: no-repeat;
    }
    .header {
      top: 147px;
    }




} 

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */
@media handheld, only screen and (max-width: 767px) {
  
}
/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /*	.logo {
  		background: url(logo2x.jpg) no-repeat;
  		background-size: 212px 303px;
  	}*/
}